.cardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tracks {
    height: 190px;
    overflow: auto;
}

@media (min-width: 1240px)  {
    .tracks{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
