.cardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tracks {
    height: 190px;
    overflow: auto;
}

.taskDelete {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.taskDeleteBtn {
    background: none;
    border: none;
}

.taskDeleteBtn:hover {
    background: aliceblue;
    border-radius: 10px;
    cursor: pointer;
}

.time{
    font-size: 16px;
    color: #000
}
/*@media (min-width: 1240px) {*/
/*    .tracks {*/
/*        display: grid;*/
/*        grid-template-columns: 1fr 1fr;*/
/*    }*/
/*}*/
