.preloader{
    position: absolute;
    top: 50%;
    right: 50%;
    align-items: center;
    justify-content: center;
    margin:auto;
}

.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}
