.newTrack{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: .5rem 1rem;
    background-color: rgb(28 196 209);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    height: 20px;
}

