.login {
  margin-top: 40%;
  text-align: center;

  &__registration {
    margin: 0 0 2rem 0;
    a{
      text-decoration: none;
      color: black;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}
