.nav{
    color:#fff!important;
    text-decoration: none;
    cursor: pointer!important;
}

.name{
    margin: 0 1rem;
}
.iconName{
    background-color: lightgray;
    border-radius: 100%;
    padding: .7rem .6rem;
    font-size: 18px;
}
